* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
  }
  .container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eff2ff;
  }
  .title{
    color: #eff2ff;
  }
  .card {
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 1rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    background: #313131;
  }
  
  .sneaker {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    perspective: 2000px;
    margin-bottom: 60px;
  }


  .sneaker img {
    width: 13rem;
    z-index: 2;
    transition: all 0.75s ease-out;
  }
  
  .circle {
    width: 20rem;
    height: 20rem;
    background: linear-gradient(
      to right,
      #f3f3f3,
      #B51742
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }
  
  .info h1 {
    font-size: 3rem;
    transition: all 0.75s ease-out;
    color: #eff2ff;
  }
  
  .info h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #eff2ff;
    font-weight: lighter;
    transition: all 0.75s ease-out;
    
  }
  .sizes {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
  }
  .sizes button {
    padding: 0.5rem 2rem;
    background: #585858;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #eff2ff;
  }
  button.active {
    background: #585858;
    color: white;
  }
  .purchase {
    margin-top: 5rem;
    transition: all 0.75s ease-out;
    
  }
  .purchase button {
    width: 100%;
    padding: 1rem 0rem;
    background: linear-gradient(
      to right,
      #f3f3f3,
      #F74D72
    );
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
    
  }